<!DOCTYPE html>
<html>
    <head>
        <center>
                <title>Cognitive Search</title>
        </center>
    </head>

    <body>
        <br />
        <center><img src='.\static\img\watson.jpg' alt='Watson logo' style='height:128px'/></center>
        
        <h1>
            Cognitive Search Application
        </h1>
        <p>
            This application uses Watson Discovery Service. Please enter your search query in natural language below.
        </p>

        <form>
            <input type='text' name='natural_language_query' value='Type your query here' />
        </form>
    </body>

</html>